{% extends '_layouts/main' %}

{% block main %}

<ul class="breadcrumbs">
    <li><a href="../">Home</a></li>
    <li>News</li>
</ul>
<div class="full-bleed-header" style="background-size: 100%; height: 200px; background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(/images/drinks/espresso-shot.jpg); background-repeat: no-repeat, repeat;">
    <div class="page-title text-center">
        <h2 class="logo"><span class="scripty">Spilling the Beans</h2>
        <p class="tagline reverse">Coffee news from the shop and beyond.</p>
    </div>
</div>
{% for entry in craft.entries.section('news').all() %}
<div class="row news-item first">
    <div class="large-12 small-12 columns">
        <h1><a href="">{{ entry.title }}</a></h1>
        <p class="byline">by {{ entry.author }} on {{ entry.date | date('F j, Y') }}</p>
        {{ entry.newsBody }}
    </div>
</div>
{% endfor %}
{% endblock %}