{% extends '_layouts/main' %}

{% block main %}

<div class="full-bleed-header" style="background-size: 100%; height: 200px; background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(/images/drinks/espresso-shot.jpg); background-repeat: no-repeat, repeat;">
    <div class="page-title text-center">
        <h2 class="logo"><span class="scripty">Our Drinks</h2>
    </div>
</div>
<div class="row page-content">
    <div class="large-12 small-12 columns">
        <p>The most recent drinks we've enjoyed.</p>
        <table width="100%">
            <tr>
                <th>Drink Name</th>
                <th>Added to Menu On</th>
                <th>Style</th>
            </tr>
            {% for drink in craft.entries.section('drinks').all() %}
            <tr>
                <td><a href="{{ drink.url }}">{{ drink.title }}</a></td>
                <td>{{ drink.dateAddedToMenu | date('F j, Y') }}</td>
                {% set style = drink.style.one() %}
                <td><a href="{{ style.url }}">{{ style.title }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}